#logincard{
    margin-top: 50px;
    height: 250px;
}

#loginbutton{
    margin-left: 70px;
}

#logincheckbox{
    margin-top: 7px;
}

#logincheckbox__span{
    font-size: 12px;
    font-style: italic;
}

#account_circle_username{
    margin-top: 20px;
    margin-right: 5px;
}

#lock_password{
    margin-top: 20px;
    margin-right: 5px;
}

#dashboard_header{
    margin-top: 22px;
    margin-right: 2px;
}

#forgot_password{
    font-style: italic;
    font-size: 10px;
}