#logincard{
    margin-top: 50px;
    height: 250px;
}

#loginbutton{
    margin-left: 70px;
}

#logincheckbox{
    margin-top: 7px;
}

#logincheckbox__span{
    font-size: 12px;
    font-style: italic;
}

#account_circle_username{
    margin-top: 20px;
    margin-right: 5px;
}

#lock_password{
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 18px;
}

#dashboard_header{
    margin-top: 22px;
    margin-right: 2px;
}

#password_button{
    margin-top: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    #lock_password{
        margin-left: -5px;
    }

    #logincard{
        margin-top: 20px;
    }
}
