.header_ul_a{
    text-decoration: none;
}

.demo-card-image.mdl-card {
    width: 240px;
    height: 200px;
    background: url('../images/profile_pic.png') center / cover;
}
.demo-card-image > .mdl-card__actions {
    height: 25px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.34);
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#name_profile_pic{
    margin-left: 60px;
}

#curve_chart, #donutchart{
    height: 350px;
    width: 100%;
}

a:hover{
    text-decoration: none;
}

.drawer_icons{
    margin-right: 10px;
}

.mdl-navigation{
    margin-top: -14px;
}